<!DOCTYPE html>
<html lang="en"  xmlns:th="https//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome To NotiAPI</title>
</head>
<body>

<h1>Here you can Create a new Template</h1>
<br>
<p>Please enter Template's specifications</p>
<br>
<form method="post" action="/create/success" th:object="${template}">
    <label>Enter type : </label>
    <input th:field="${template.type}" required>
    <br>
    <label>Enter Context : </label>
    <input th:field="${template.Context}" required>
    <br>
    <label>Enter PlaceHolder : </label>
    <input th:field="${template.Placeholder}" required>
    <br>
    <label>Enter Languages : </label>
    <input th:field="${template.Languages}" required>
    <br>
    <label>Enter Channels : </label>
    <input th:field="${template.Channels}" required>
    <br>
    <input type="submit" value="Create">
    <br>
    <input type="reset" value="Reset">
    <br>

</form>
<button><a href="/">Back to main menu !</a></button>

</body>
</html>