<!DOCTYPE html>
<html lang="en"  xmlns:th="https//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome To NotiAPI</title>
</head>
<body>

    <h1>Welcome to modern Notifications API</h1>
    <br>
    <p>what do you want to do ?</p>
    <br>
    <button><a href="/create">Create new Notification</a></button>
    <button><a href="/read">Read an existing Notification</a></button>
    <button><a href="/update">Update an existing Notification</a></button>
    <button><a href="/delete">Delete an existing Notification</a></button>
    <button><a href="/send">Send Notification</a></button>






</body>
</html>